<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pizza Time NYC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA71E9031C2B32E400FA48F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA71E91F1C2B32E500FA48F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA71E92A1C2B32E500FA48F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
